body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.navbar{
  background-color: rgb(250, 250, 250);
  height: 100px;
  line-height: 90px;
  color: black;
}

.navbar-ul{
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-ul li{
  list-style: none;
  margin: 10px;
}

.main{
  background-color: rgb(46, 44, 44);
  color: aliceblue;
  text-align: center;
  height: 300px;
}

.main h1{
  margin: 0;
  padding: 20px 0;
  font-size: 60px;
}

.main h3{
  margin-bottom: 50px;
  
}
.main .left{
  background-color: white;
  color: rgb(98, 95, 95);
  padding: 10px 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  /* margin-bottom: 20px; */
}

.main .right{
  background-color: #04AA6D;;
  color: white(98, 95, 95);
  padding: 10px 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  /* margin-bottom: 20px; */
}

.main-centre{
 margin-bottom: 20px;
 color: aliceblue;
}

.main a{
  color: aliceblue;
  font-size: 20px;
 }
